<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
          
    <add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Service-TrackID;User Id=sa;Password=sa;" name="ServerDiverscan" providerName="System.Data.SqlClient"/>

    <add connectionString="Data Source=143.202.160.227;Initial Catalog=Service-TrackID;User ID=Service-TrackID;Password=SetDiv2025." name="ServerDiverscan2" providerName="System.Data.SqlClient" />


  </connectionStrings>
</configuration>
